.login{
  height: 100%;
  width: 100%;
  background: url("./images/5c320d85e7bce75e6bd83cfa.jpg") no-repeat;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  .login-content{
    border-radius: 0.5rem;
    background-color: rgba(21,20,13,0.5);
    margin: 0 auto;
    height: 20rem;
    width: 20rem;
    position: relative;
    top: 50%;
    padding: 1rem 2rem;
    transform: translateY(-50%);
    h2{
      margin-bottom: 2.3rem;
      text-align: center;
      font-size: 2rem;
      color: #ffffff;
    }
    .ant-form-item-explain{
      color: #f5f5e1;
    }

  }
}
