.left-nav{
  position: relative;
  z-index: 10;
  min-height: 100%;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  .logo{
    margin-bottom: .85rem;
    height: 4rem;
    display: flex;
    align-items: center;
    img{
      width: 2.8rem;
      margin-right: .5rem;
      margin-left: 1rem;
    }
    h2{
      margin-bottom: 0;
      color: #ffffff;
    }
  }
}