.detailed-chart {
  .ant-card {
    width: 100%;
    .ant-btn-dashed{
      border: none;
    }
  }
  .detailed-chart-columnar{
    padding: 0 0 2rem 2rem;
    h4{
      margin-bottom: 1.3rem;
    }
  }
  .detailed-list{
    padding: 0 2rem 2rem 4.5rem;
    .ant-list-item{
      border: none;
      padding: .8rem 0 0 0;
    }
    .ant-list-items{
      margin:1rem 0 0
    }
    .ant-list-header{
      padding: 0 0 .5rem 0;
      border: none;
    }
  }
}