.header {
  height: 4rem;
  padding: 0;
  background-color: #ffffff;
  align-items: center;
  position: relative;
  display: flex;
  box-shadow: 0 1px .5rem rgba(0, 21, 41, .08);
  .anticon {
    padding: 0 1rem 0 .3rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s, padding 0s;
  }
  .header-index-right {
    display: flex;
    float: right;
    margin-left: auto;
    align-items: center;
    margin-right: 2rem;
    overflow: hidden;
    .header-index-user {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 .4rem;
      cursor: pointer;
      transition: all .3s;
      span{
        margin-right: .8rem;
      }
    }
    .header-weather{
      padding: 0 1rem;
      span{
        padding: 0 .5rem 0 0;
      }
    }
  }

}
.header-message{
  text-align: center;
  width: 21rem;
}
.header-message-icon{
  padding: 0 1rem;
}

.ant-layout-header {
  align-items: center;
}