.header {
  height: 4rem;
  padding: 0;
  background-color: #ffffff;
  align-items: center;
  position: relative;
  display: flex;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  .anticon {
    padding: 0 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s, padding 0s;
  }

}
.ant-layout-header{
  align-items: center;
}