.footer{
  font-size: 1rem;
  text-align: center;
  div{
    color: #999999;
  }
  a{
    color: #999999;
  }
  .anticon {
    margin:0 2rem
  }
}
.Content{
  margin: 1.5rem;
}
.admin{
  height:100%
}